[REG0]
load = no
plugin= 'plugins/libregister.so'
device= 'REG0'
base_address = $0350
enable = yes

[REG1]
load = no
plugin= 'plugins/libregister.so'
device= 'REG1'
base_address = $0354
enable = yes

[STACK]
load = no
plugin= 'plugins/libstack.so'
device= 'STACK'
base_address = $0358
enable = yes

[ch376]
load = yes
plugin = 'plugins/libch376.so'
enable = yes
; device = 'CH376'
device =
base_address = $0340

[ds1501]
load = yes
plugin = 'plugins/libds1501.so'
enable = no
device = 'DS1501'
; base_address = $0360

[debug]
load = no
plugin = 'plugins/libdebug.so'
enable = no
device = 'DEBUG'
; base_address = $0360

